<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Kaite & Shane" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>


<div class="top-bar">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-text">Katie & Shane</li>
      <li>
        <a href="#">About Us</a>
        <ul class="menu vertical">
          <li><a href="#">How We Met</a></li>
          <li><a href="#">Our Proposal</a></li>
        </ul>
      </li>
      <li><a href="#">I Do's, Dinner, & Dancing</a></li>
      <li><a href="#">Guest Information</a></li>
      <li><a href="#">Registry</a></li>
    </ul>
  </div>
</div>


  <body>
    <div class="row">
      <div class="columns small-12">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
